html, body{
	background-color: #3a7074 !important;
	color:#ffffff !important;
}
* {
    padding: 0;
    margin: 0;
}
#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: 0;
}

.first-container{ 
	display: flex !important;
	flex-direction: column !important;
	width: 100% !important;
	min-height: 100vh !important;
	height: 100% !important;
	position: relative !important; 
	font-size: larger;
}

.bg-transparent-light{
	background-color: #f8f9fa66 !important;
}

#invisible-1{
	visibility: hidden;
}

.fade-in-div {
	animation: fadeIn 2s;
	-webkit-animation: fadeIn 2s;
	-moz-animation: fadeIn 2s;
	-o-animation: fadeIn 2s;
	-ms-animation: fadeIn 2s;
  }
  
  @keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }